<div style="text-align: left; background-color:#FFF6B3; font-family: Trebuchet MS; color:#7C444F; padding: 12px; line-height:1.25;border-radius:1px; margin-bottom: 0em; text-align: center; font-size: 58px;border-style: solid;border-color: dark green;">Billionaires Analysis</div>

<div style="text-align: center;">
    <img src="https://static.vecteezy.com/system/resources/thumbnails/007/945/339/small_2x/millionaire-logo-design-icon-design-template-element-lettet-b-design-vector.jpg" alt="Image" style="width: 300px;">
</div>

   <a id='top'></a>
<div class="list-group" id="list-tab" role="tablist"></div>

## <div style="text-align: left; background-color:#FFF6B3; font-family: Trebuchet MS; color: #7C444F; padding: 15px; line-height:1;border-radius:1px; margin-bottom: 0em; text-align: center; font-size: 25px;border-style: solid;border-color: dark green;">üìù TABLE OF CONTENTüìù</div>
    
[I. Dataset Description](#1)
    
[II. Import Libraries](#2)
    
[III. Dataset Exploration](#3)
  * [1. Understand the Dataset](#3.1)
  * [2. Check and Handle Duplicate Rows](#3.2)
  * [3. Examine Data Types of Columns](#3.3)
    
[IV. 1D Data Analysis and Exploration](#4)
  * [1. Numerical Columns](#4.1)
  * [2. Non-Numerical Columns](#4.2)
  * [3. Handle Missing Values in Columns and Rows](#4.3)
    
[V. 2D Data Analysis and Exploration](#5)
  * [1. Analyze Correlation Between Numerical Columns](#5.1)
  * [2. Analyze Two Numerical Variables Using Scatter Plot](#5.2)
  * [3. Analyze Numerical and Categorical Variables Using Bar Chart](#5.3)
  * [4. Analyze Proportions Between Two Categorical Variables](#5.4)

[VI. 3D Data Analysis and Exploration](#6)

[VII. Detailed Feature Analysis](#7)
  * [1. Feature Name](#7.1)
  * [2. Features SibSp and Parch](#7.2)

[VIII. Questions and Answers](#8)
  * [1. Question 1](#8.1)
  * [2. Question 2](#8.2)

[IX. Conclusion](#9)

## <div style="text-align: left; background-color:#FFF6B3; font-family: Trebuchet MS; color: #7C444F; padding: 15px; line-height:1;border-radius:1px; margin-bottom: 0em; text-align: center; font-size: 25px;border-style: solid;border-color: dark green;">I. Dataset Description üìå</div>

<div style="border-radius: 10px;
            border: #0A0104 solid;
            padding: 15px;
            background-color: #FEFAE0;
            font-size: 110%;
            text-align: left;
            color: black;">
   <span style="color:'black' ;">

[Billionaires Statistics Dataset (2023)](https://www.kaggle.com/datasets/nelgiriyewithana/billionaires-statistics-dataset/data) provides comprehensive insights into the world's billionaires, covering their wealth, industries, and personal demographics. Key features include `rankings, net worth, industries of operation, and geographical details such as countries and cities of residence`. Additionally, the dataset captures information on self-made versus inherited wealth, age, gender, and organization affiliations, offering a detailed view of global wealth distribution and its demographic context.

Beyond individual attributes, the dataset includes economic indicators such as GDP, CPI, tax rates, and education enrollment rates by country, enabling a broader analysis of how macroeconomic factors correlate with billionaire wealth. Potential use cases range from demographic analysis and wealth distribution studies to geospatial and economic trend analyses, making it a valuable resource for understanding global wealth dynamics and their societal implications.

## <div style="text-align: left; background-color:#FFF6B3; font-family: Trebuchet MS; color: #7C444F; padding: 15px; line-height:1;border-radius:1px; margin-bottom: 0em; text-align: center; font-size: 25px;border-style: solid;border-color: dark green;">II. Import Libraries üìñ</div>

In [1]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)

## <div style="text-align: left; background-color:#FFF6B3; font-family: Trebuchet MS; color: #7C444F; padding: 15px; line-height:1;border-radius:1px; margin-bottom: 0em; text-align: center; font-size: 25px;border-style: solid;border-color: dark green;">III. Dataset Exploration üîé</div>

In [5]:
data = pd.read_csv('./data/Billionaires-Statistics-Dataset.csv')

In [6]:
data

,rank,finalWorth,category,personName,age,country,city,source,industries,countryOfCitizenship,organization,selfMade,status,gender,birthDate,lastName,firstName,title,date,state,residenceStateRegion,birthYear,birthMonth,birthDay,cpi_country,cpi_change_country,gdp_country,gross_tertiary_education_enrollment,gross_primary_education_enrollment_country,life_expectancy_country,tax_revenue_country_country,total_tax_rate_country,population_country,latitude_country,longitude_country
0,1,211000,Fashion & Retail,Bernard Arnault & family,74.0,France,Paris,LVMH,Fashion & Retail,France,LVMH Mo√´t Hennessy Louis Vuitton,False,U,M,3/5/1949 0:00,Arnault,Bernard,Chairman and CEO,4/4/2023 5:01,NaN,NaN,1949.0,3.0,5.0,110.05,1.1,"$2,715,518,274,227",65.6,102.5,82.5,24.2,60.7,6.705989e+07,46.227638,2.213749
1,2,180000,Automotive,Elon Musk,51.0,United States,Austin,"Tesla, SpaceX",Automotive,United States,Tesla,True,D,M,6/28/1971 0:00,Musk,Elon,CEO,4/4/2023 5:01,Texas,South,1971.0,6.0,28.0,117.24,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891
2,3,114000,Technology,Jeff Bezos,59.0,United States,Medina,Amazon,Technology,United States,Amazon,True,D,M,1/12/1964 0:00,Bezos,Jeff,Chairman and Founder,4/4/2023 5:01,Washington,West,1964.0,1.0,12.0,117.24,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891
3,4,107000,Technology,Larry Ellison,78.0,United States,Lanai,Oracle,Technology,United States,Oracle,True,U,M,8/17/1944 0:00,Ellison,Larry,CTO and Founder,4/4/2023 5:01,Hawaii,West,1944.0,8.0,17.0,117.24,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891
4,5,106000,Finance & Investments,Warren Buffett,92.0,United States,Omaha,Berkshire Hathaway,Finance & Investments,United States,Berkshire Hathaway Inc. (Cl A),True,D,M,8/30/1930 0:00,Buffett,Warren,CEO,4/4/2023 5:01,Nebraska,Midwest,1930.0,8.0,30.0,117.24,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2635,2540,1000,Healthcare,Yu Rong,51.0,China,Shanghai,Health clinics,Healthcare,China,NaN,True,D,M,12/14/1971 0:00,Yu,Rong,NaN,4/4/2023 5:01,NaN,NaN,1971.0,12.0,14.0,125.08,2.9,"$19,910,000,000,000",50.6,100.2,77.0,9.4,59.2,1.397715e+09,35.861660,104.195397
2636,2540,1000,Food & Beverage,"Richard Yuengling, Jr.",80.0,United States,Pottsville,Beer,Food & Beverage,United States,NaN,False,E,M,3/10/1943 0:00,Yuengling,Richard,NaN,4/4/2023 5:01,Pennsylvania,Northeast,1943.0,3.0,10.0,117.24,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891
2637,2540,1000,Manufacturing,Zhang Gongyun,60.0,China,Gaomi,Tyre manufacturing machinery,Manufacturing,China,NaN,True,R,M,12/18/1962 0:00,Zhang,Gongyun,NaN,4/4/2023 5:01,NaN,NaN,1962.0,12.0,18.0,125.08,2.9,"$19,910,000,000,000",50.6,100.2,77.0,9.4,59.2,1.397715e+09,35.861660,104.195397
2638,2540,1000,Real Estate,Zhang Guiping & family,71.0,China,Nanjing,Real estate,Real Estate,China,NaN,True,D,M,8/21/1951 0:00,Zhang,Guiping,NaN,4/4/2023 5:01,NaN,NaN,1951.0,8.0,21.0,125.08,2.9,"$19,910,000,000,000",50.6,100.2,77.0,9.4,59.2,1.397715e+09,35.861660,104.195397
2639,2540,1000,Diversified,Inigo Zobel,66.0,Philippines,Makati,Diversified,Diversified,Philippines,NaN,False,R,M,11/1/1956 0:00,Zobel,Inigo,NaN,4/4/2023 5:01,NaN,NaN,1956.0,11.0,1.0,129.61,2.5,"$376,795,508,680",35.5,107.5,71.1,14.0,43.1,1.081166e+08,12.879721,121.774017

<a id="3.1"></a>
### **<span style="font-family: Trebuchet MS; color:#D8A25E;">1. Understand the Dataset</span>**

<h2 style="color:#10375C ; font-family: Trebuchet MS; font-size: 1em "><b> Totals number of rows and columns</b></h2>

In [8]:
n_rows, n_cols = data.shape
print(f'The dataset has {n_rows} rows and {n_cols} columns')

The dataset has 2640 rows and 35 columns

<h2 style="color:#10375C ; font-family: Trebuchet MS; font-size: 1em "><b> Meaning of rows and columns </b></h2>

In [10]:
data.columns

Index(['rank', 'finalWorth', 'category', 'personName', 'age', 'country',
       'city', 'source', 'industries', 'countryOfCitizenship', 'organization',
       'selfMade', 'status', 'gender', 'birthDate', 'lastName', 'firstName',
       'title', 'date', 'state', 'residenceStateRegion', 'birthYear',
       'birthMonth', 'birthDay', 'cpi_country', 'cpi_change_country',
       'gdp_country', 'gross_tertiary_education_enrollment',
       'gross_primary_education_enrollment_country', 'life_expectancy_country',
       'tax_revenue_country_country', 'total_tax_rate_country',
       'population_country', 'latitude_country', 'longitude_country'],
      dtype='object')

<div style="border-radius: 10px;
            border: #0A0104 solid;
            padding: 15px;
            background-color: #FEFAE0;
            font-size: 110%;
            text-align: left;
            color: black;">
   <span style="color:'black' ;">

- **Each row** represents the information of a single billionaire.
- The columns have the following meanings:
   1. `personName`: the full name of the billionaire.
   2. `age`: The age of the billionaire at the time of data collection.
   3. `country`: The nationality of the billionaire.
   4. `source`: The primary source of the billionaire's wealth, such as technology, real estate, r inheritance.
   5. `industries`: The industry or sector in which the billionaire operates or invested.
   6. `worth (USD)`: The billionaire's net worth in US dollars.
   7. `selfMade`: Indicates whether the billionaire's wealth was self-made or inherited.
      - **1**: Self-made
      - **0**: Inherited
   8. `gender`: The gender oof the billionaire.
   9. `status`: Indicates the living status of the billionaire.
      - **Alive** or **Dead**.
   10. `birthDate`: The date of birth of the billionaire.
   11. `citizenship`: The citizenship or passport country of the billionaire.
   12. `organization`: The name of the organization with which the billionaire is most closely associated.
   13. `title`: The role or title of the billionaire in their organization(e.g., CEO, Founder).
   14. `birthCountry`: The country where the billionaire was born.
   15. `birthState`: The sate or province where the billionaire was born (if applicable).
   16. `birthCity`: The city where the billionaire was born.
   17. `education`: The level of education achieved by the billionaire (e.g., Bachelor's, Master's, PhD).
   18. `university`: The name √≤ the univerdity attended by the billionaire (if applicable).
   19. `maritalStatus`: The mariatl status of the the billionaire (e.g., Maried, Single).
   20. `children`: The number of children the billionaire has.
   21. `political`: Indicates the political affiliation or involvement of the billionaire.
   22. `philanthropic`: Indicates the philanthropic efforts of the billionaire.
   23. `residence`: The city or country where the billionaire currently resides.
   24. `yatchs`: Indicates whether the billionaire owns yatchs.
   25. `jets`: Indicates whether the billionaire owns private jets. 
   26. `art`: Indicates whether the billionaire owns notable art collections. 
   27. `sports`: Indicates whether the billionaire owns or invests in sports teams. 
   28. `realEstate`: Indicates significant investments in real estate by the billionaire. 
   29. `luxuryGoods`: Indicates investments or ownership of luxury goods. 
   30. `luxuryVehicles`: Indicates whether the billionaire owns luxury vehicles. 
   31. `divorced`: Indicates whether the billionaire has been divorced. 
   32. `foundations`: Indicates the presence of charitable foundations started by the billionaire. 
   33. `politicalParty`: The political party the billionaire supports (if known). 
   34. `bio`: A brief biography or additional information about the billionaire. 
   35. `sourceUrl`: The source or URL from where the data was collected.
   </span>
</div>